.App {
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./Designer.jpeg');
  
  background-size:cover;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}


.App-header {
  margin: 0;
  background-color: #282c34;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



