.App {
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./Designer.jpeg');
  
  background-size:cover;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}



.App-link {
  color: #61dafb;
}



