/* .SearchBar{
    margin: 20px;
}

.input{
    width:100%
}

.SearchBar input{
    width: 70%;
    height: 40px;
    text-align: center;
    border-radius: 5px;
}




.SearchBar { 
    padding-top: 3.94rem;
    margin-bottom: 3.33rem;
}

.SearchBar input {
    width: 100%;
    padding: .88rem 0;
    border-radius: 3px;
    margin-bottom: 0.5rem;
    color: #010c3f;
    text-align: center;
    font-size: 1rem;
}

.SearchBar input:focus {
    outline: none;
}

.SearchButton {
    cursor: pointer;
    width: 8.11rem;
    padding: .88rem 0;
    border-radius: 3px;
    background-color: #010c3f;
    text-align: center;
    font-size: .833rem;
    transition: background-color .25s;
    color: #fff;
    font-weight: 1rem;
}

.SearchButton:hover {
    background-color: rgba(108, 65, 233, .7);
}

.SearchButton {
    
    background-color: rgb(75, 99, 39);

}

.SearchButton:hover {
    background-color: rgb(97, 129, 50);
}

.SearchButton:active {
    background-color: rgb(75, 99, 39);
} */